<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true"
      providerName="System.Data.SqlClient" />
    <add name="ConnectionStringLocal" connectionString="Data Source=capricornisland.db.2498781.hostedresource.com; Initial Catalog=capricornisland; MultipleActiveResultSets=true; User ID=capricornisland; Password='Dragon123!'"
      providerName="System.Data.SqlClient" />
    <add name="capricornislandConnectionString" connectionString="Data Source=capricornisland.db.2498781.hostedresource.com;Initial Catalog=capricornisland;Persist Security Info=True;User ID=capricornisland;Password=Dragon123!"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <machineKey decryption="AES" decryptionKey="7DFC281BF0DC869413097A46A8F4C16915ADD8F0709358D160FAB1EC2AFA24B7" validation="HMACSHA256" validationKey="2F9F8E1E24D44BF41E39AD1CED6BEEAFA6E972AEBEE91DED7E1A1182DA7E9907F2B3CCC09EF3DEE6F558A2185F19885B890D2A498E12688576614B6D8AF59966" />
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="Off"/>

    <!--<authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>

    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
             applicationName="/" />
      </providers>
    </membership>

    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>

    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>-->

  </system.web>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
