@charset "utf-8";
/* CSS Document */

textarea, input {outline: none; box-shadow:none;}

body {
	background-image: url(images/bg01.jpg);
	background-repeat:repeat;
	background-position:center top;
	margin:0 auto;
	background-color:#EED6AF;
}

.god {
	text-align: center;
	width: 100%;
}
div.row {
	clear: both;
	padding: 0px 0px 0px 0px;
	width: 100%;
	margin:0 auto;
}
.booker {
	background-image: url(images/book.png);
	background-repeat:no-repeat;
	background-position: center center;
	margin:0 auto;
	padding: 25px;
}
.fielder {
	border-radius: 7px;
	border-style: solid;
	border-width: 1px;
	border-color: #845f48 #845f48 #845f48 #845f48;
	padding: 5px;
	margin:3px;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	font-size: 14px;
}
.logo {
	background-image: url(images/logo.png);
	background-repeat:no-repeat;
	background-position: center;
	padding:50px;
	margin-top:25px;

}
.tag {
	margin-top: 12px;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	font-size: 14px;
	color: #a48664;
}